<div>
    <h2 id="page-heading">
        <span jhiTranslate="adminhouseApp.dia.home.title">Dias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dia" [routerLink]="['/dia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="adminhouseApp.dia.home.createLabel">
            Create new Dia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dias">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diaSemana"><span jhiTranslate="adminhouseApp.dia.diaSemana">Dia Semana</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--             <th jhiSortBy="grupoId"><span jhiTranslate="adminhouseApp.dia.grupo">Grupo</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th><span jhiTranslate="adminhouseApp.dia.items">Items</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dia of dias ;trackBy: trackId">
                <td><a [routerLink]="['/dia', dia.id, 'view' ]">{{dia.id}}</a></td>
                <td jhiTranslate="{{'adminhouseApp.DiaSemana.' + dia.diaSemana}}">{{dia.diaSemana}}</td>
<!--                 <td> -->
<!--                     <div *ngIf="dia.grupoId"> -->
<!--                         <a [routerLink]="['../grupo', dia.grupoId , 'view' ]" >{{dia.grupoId}}</a> -->
<!--                     </div> -->
<!--                 </td> -->
                <td>
                    <div *ngIf="dia.items">
                    		<span *ngFor="let item of dia.items; let isLast=last">
						   <span jhiTranslate="{{'adminhouseApp.TipoComida.' + item.tipo}}">{{item.tipo}}</span>: {{item.comidaNombre}}{{isLast ? '' : ', '}}
						</span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dia', dia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dia', dia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dia/'+ dia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dias && dias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
