<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-calendario-comida-heading" jhiTranslate="adminhouseApp.calendarioComida.home.createOrEditLabel">Create or edit a Calendario Comida</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!calendarioComida.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="calendarioComida.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminhouseApp.calendarioComida.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="calendarioComida.fecha"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

<!--                 <div class="form-group"> -->
<!--                     <label class="form-control-label" jhiTranslate="adminhouseApp.calendarioComida.grupo" for="field_grupo">Grupo</label> -->
<!--                     <select class="form-control" id="field_grupo" name="grupo" [(ngModel)]="calendarioComida.grupoId" > -->
<!--                         <option [ngValue]="null"></option> -->
<!--                         <option [ngValue]="grupoOption.id" *ngFor="let grupoOption of grupos; trackBy: trackGrupoById">{{grupoOption.id}}</option> -->
<!--                     </select> -->
<!--                 </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="adminhouseApp.calendarioComida.dia" for="field_dia">Dia</label>
                    <select class="form-control" id="field_dia" name="dia" [(ngModel)]="calendarioComida.diaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diaOption.id" *ngFor="let diaOption of dias; trackBy: trackDiaById">
                        		<span *ngFor="let item of diaOption.items; let isLast=last">
							   <span jhiTranslate="{{'adminhouseApp.TipoComida.' + item.tipo}}">{{item.tipo}}</span>: {{item.comidaNombre}}{{isLast ? '' : ', '}}
							</span>
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
