<div>
    <h2 id="page-heading">
        <span jhiTranslate="adminhouseApp.ingrediente.home.title">Ingredientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ingrediente" [routerLink]="['/ingrediente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="adminhouseApp.ingrediente.home.createLabel">
            Create new Ingrediente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ingredientes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cantidad"><span jhiTranslate="adminhouseApp.ingrediente.cantidad">Cantidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comidaId"><span jhiTranslate="adminhouseApp.ingrediente.comida">Comida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productoId"><span jhiTranslate="adminhouseApp.ingrediente.producto">Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingrediente of ingredientes ;trackBy: trackId">
                <td><a [routerLink]="['/ingrediente', ingrediente.id, 'view' ]">{{ingrediente.id}}</a></td>
                <td>{{ingrediente.cantidad}}</td>
                <td>
                    <div *ngIf="ingrediente.comidaId">
                        <a [routerLink]="['../comida', ingrediente.comidaId , 'view' ]" >{{ingrediente.comidaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ingrediente.productoId">
                        <a [routerLink]="['../producto', ingrediente.productoId , 'view' ]" >{{ingrediente.productoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ingrediente', ingrediente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ingrediente', ingrediente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingrediente/'+ ingrediente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ingredientes && ingredientes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
